<!--Footer Area Start-->
<footer>
    <div class="footer-container">
        <!--Footer Middle Area Start-->
        <div class="footer-middle-area black-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <p>Address : <br><span class="AddressId"></span></p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-envelope-open-o"></i>
                                </div>
                                <p>Email : <br><span class="EmailId"></span></p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <p>Phone : <br><span class="PhoneId"></span></p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Middle Area End-->
        <!--Footer Bottom Area Start-->
        <div class="footer-bottom-area black-bg pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-menu text-center">
                            <nav>
                                <ul>
                                    <li><a href="/goods">商品</a></li>
                                    <li><a href="/product">案例</a></li>
                                    <li><a href="/news">新闻</a></li>
                                    <li><a href="/about">关于</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Footer Menu End-->
                        <!--Footer Copyright Start-->
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2018.<span class="CopyrightId"></span> - 技术 <a href="https://github.com/LiangJingxuan" target="_blank">https://github.com/LiangJingxuan</a></p>
                        </div>
                        <!--Footer Copyright End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom Area End-->
    </div>
</footer>
<!--Footer Area End-->