<!--Footer Area Start-->
<footer>
    <div class="footer-container">
        <!--Footer Middle Area Start-->
        <div class="footer-middle-area black-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-logo">
                                <a href="index.ejs"><img src="/layout/img/logo/logo-footer.png" alt=""></a>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <p>Address : No 40 Baria Sreet 15/2 NewYork City, NY, United States.</p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-envelope-open-o"></i>
                                </div>
                                <p>Email: <br>info@yourmail.com</p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Single Footer Widget Start-->
                        <div class="single-footer-widget mb-30">
                            <div class="footer-info">
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <p>Phone: <br>(+68) 123 456 7890</p>
                            </div>
                        </div>
                        <!--Single Footer Widget End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Middle Area End-->
        <!--Footer Bottom Area Start-->
        <div class="footer-bottom-area black-bg pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-menu text-center">
                            <nav>
                                <ul>
                                    <li><a href="#">产品</a></li>
                                    <li><a href="#">案例</a></li>
                                    <!--<li><a href="#"></a></li>-->
                                    <li><a href="#">新闻</a></li>
                                    <li><a href="#">关于</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Footer Menu End-->
                        <!--Footer Copyright Start-->
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2018.河北聚义商贸有限公司 - 技术 <a href="https://github.com/LiangJingxuan" target="_blank">https://github.com/LiangJingxuan</a></p>
                        </div>
                        <!--Footer Copyright End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom Area End-->
    </div>
</footer>
<!--Footer Area End-->