<!--Header Area Start-->
<header>
    <div class="header-container">
        <div class="header-area header-sticky pt-10 pb-10">
            <div class="container-fluid pl-50 pr-50">
                <div class="row">
                    <!--Header Logo Start-->
                    <div class="col-lg-3 col-md-3">
                        <div class="logo-area">
                            <a href="index.ejs">
                                <img src="/layout/img/logo/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!--Header Logo End-->
                    <!--Header Menu And Mini Cart Start-->
                    <div class="col-lg-9 col-md-9 text-lg-right">
                        <!--Main Menu Area Start-->
                        <div class="header-menu">
                            <nav>
                                <ul class="main-menu">
                                    <li><a href="/">主页</a></li>
                                    <li><a href="/user">商品</a></li>
                                    <li><a href="/product">案例</a></li>
                                    <li><a href="/news">新闻</a></li>
                                    <li><a href="/about">关于</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--Main Menu Area End-->
                        <!--Header Option Start-->
                        <div class="header-option">
                            <div class="mini-cart-search">
                                <div class="header-search">
                                    <div class="search-box">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                        <div class="search-dropdown">
                                            <form action="#">
                                                <input name="search" id="search" placeholder="" value="Search product..." onblur="if(this.value==''){this.value='Search product...'}" onfocus="if(this.value=='Search product...'){this.value=''}" type="text" autocomplete="off">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="currency">
                                    <div class="currency-box">
                                        <a href="#"><i class="fa fa-th"></i></a>
                                        <div class="currency-dropdown">
                                            <ul class="menu-top-menu">
                                                <li><a href="#">地暖</a></li>
                                                <li><a href="#">光伏发电</a></li>
                                                <li><a href="#">空气能</a></li>
                                                <li><a href="#">太阳能</a></li>
                                                <li><a href="#">风机盘管</a></li>
                                            </ul>
                                            <div class="switcher">
                                                <div class="language">
                                                    <span class="switcher-title"><a href="/us">联系我们</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Header Option End-->
                        </div>
                        <!--Header Menu And Mini Cart End-->
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!--Mobile Menu Area Start-->
                            <div class="mobile-menu d-lg-none"></div>
                            <!--Mobile Menu Area End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header Area End-->