<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Home</title>
	<meta name="description" content="">
	<meta name="robots" content="noindex, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, follow" />
    <!-- Bootstrap CSS-->
	<link rel="stylesheet" href="/layout/css/bootstrap.min.css">
	<!-- Linearicon CSS-->
    <link rel="stylesheet" href="/layout/css/linearicons.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/layout/css/font-awesome.min.css">

	<!-- Owl Carousel CSS-->
	<link rel="stylesheet" href="/layout/css/owl.carousel.min.css">
	<!-- Slick CSS-->
	<link rel="stylesheet" href="/layout/css/slick.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/layout/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/layout/css/responsive.css">
	<!-- Modernizr Js -->
	<script src="/layout/js/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="wrapper">
		<!--Header Area Start-->
		<header>
			<div class="header-container">
				<div class="header-area header-sticky pt-10 pb-10">
					<div class="container-fluid pl-50 pr-50">
						<div class="row">
							<!--Header Logo Start-->
							<div class="col-lg-3 col-md-3">
								<div class="logo-area">
									<a href="index.ejs">
										<img src="/layout/img/logo/logo.png" alt="">
									</a>
								</div>
							</div>
							<!--Header Logo End-->
							<!--Header Menu And Mini Cart Start-->
							<div class="col-lg-9 col-md-9 text-lg-right">
								<!--Main Menu Area Start-->
								<div class="header-menu">
									<nav>
										<ul class="main-menu">
											<li><a href="index.ejs">主页</a></li>
											<li><a href="shop.ejs">商品</a></li>
											<li><a href="single-product.ejs">案例</a></li>
											<li><a href="single-product.ejs">新闻</a></li>
											<li><a href="single-product.ejs">关于</a></li>
										</ul>
									</nav>
								</div>
								<!--Main Menu Area End-->
								<!--Header Option Start-->
								<div class="header-option">
									<div class="mini-cart-search">
										<div class="header-search">
											<div class="search-box">
												<a href="#"><i class="fa fa-search"></i></a>
												<div class="search-dropdown">
													<form action="#">
														<input name="search" id="search" placeholder="" value="Search product..." onblur="if(this.value==''){this.value='Search product...'}" onfocus="if(this.value=='Search product...'){this.value=''}" type="text" autocomplete="off">
														<button type="submit"><i class="fa fa-search"></i></button>
													</form>
												</div>
											</div>
										</div>
										<div class="currency">
											<div class="currency-box">
												<a href="#"><i class="fa fa-th"></i></a>
												<div class="currency-dropdown">
													<ul class="menu-top-menu">
														<li><a href="#">地暖</a></li>
														<li><a href="#">光伏发电</a></li>
														<li><a href="#">空气能</a></li>
														<li><a href="#">太阳能</a></li>
														<li><a href="#">风机盘管</a></li>
													</ul>
													<div class="switcher">
														<div class="language">
															<span class="switcher-title"><a href="#">联系我们</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--Header Option End-->
							</div>
							<!--Header Menu And Mini Cart End-->
						</div>
						<div class="row">
							<div class="col-12">
								<!--Mobile Menu Area Start-->
								<div class="mobile-menu d-lg-none"></div>
								<!--Mobile Menu Area End-->
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</header>
		<!--Header Area End-->
		<!--Slider Area Start-->
		<div class="slider-area pl-50 pr-50">
			<div class="hero-slider owl-carousel">
				<!--Single Slider Start-->
				<div class="single-slider single-slider-style-2" style="background-image: url(/layout/img/slider/home1-slider1.jpg)">
					<!--<div class="slider-progress"></div>-->
					<div class="container">
						<div class="hero-slider-content">
							<h1>Perfect Plant</h1>
							<p>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment. </p>
							<div class="slider-btn">
								<a href="#">Shop Collection <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!--Single Slider End-->
				<!--Single Slider Start-->
				<div class="single-slider single-slider-style-2" style="background-image: url(/layout/img/slider/home1-slider2.jpg)">
					<!--<div class="slider-progress"></div>-->
					<div class="container">
						<div class="hero-slider-content">
							<h1>Plant Mega Sale</h1>
							<p>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment. </p>
							<div class="slider-btn">
								<a href="#">Shop Collection <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!--Single Slider End-->
			</div>
		</div>
		<!--Slider Area End-->
		<!--Feature Area Start-->
		<div class="feature-area mt-120">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-rocket"></span>
		                    </div>
		                    <div class="feature-content">
		                        <h3>FREE SHIPPING</h3>
		                        <p>ALL ORDER OVER $100</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-phone"></span>
		                    </div>
		                    <div class="feature-content">
		                        <h3>24/7 DEDICATED SUPPORT</h3>
		                        <p>0123 456 789</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-lg-4 col-md-6">
		                <!--Single Feature Start-->
		                <div class="single-feature mb-35">
		                    <div class="feature-icon">
		                        <span class="lnr lnr-redo"></span>
		                    </div>
		                    <div class="feature-content">
		                        <h3>MONEY BACK</h3>
		                        <p>IF THE ITEM DIDN’T SUIT YOU</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Feature Area End-->
		<!--Our History Area Start-->
		<div class="our-history-area mt-85">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <h2>Our History</h2>
		                    <span>A little story about us</span>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="col-lg-8 ml-auto mr-auto">
		                <div class="history-area-content text-center">
		                    <p><strong>Captain America: Civil War Christopher Markus and Stephen McFeely see the Hulk as the game over moment.</strong></p>
		                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus. Phasellus eu rhoncus dolor, vitae scelerisque sapien</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Our History Area End-->
		<!--Categories Area Start-->
		<div class="categories-area mt-115">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>The Best collection</span>
		                    <h3>产品分类</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		    </div>
		    <div class="container-fluid pl-50 pr-50">
		        <div class="row">
		            <div class="cat-1 col-md-4">
		                <div class="categories-img img-full mb-30">
		                    <a href="#"><img src="/layout/img/category/home1-category-1.jpg" alt=""></a>
		                    <div class="categories-content">
		                        <h3>太阳能</h3>
		                        <h4>more+</h4>
		                    </div>
		                </div>
		            </div>
		            <div class="cat-2 col-md-8">
		                <div class="row">
		                    <div class="cat-3 col-md-7">
                                <div class="categories-img img-full mb-30">
                                    <a href="#"><img src="/layout/img/category/home1-category-2.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3>空气能</h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-4 col-md-5">
                                <div class="categories-img img-full mb-30">
                                    <a href="#"><img src="/layout/img/category/home1-category-3.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3>风机盘管</h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-5 col-md-4">
                                <div class="categories-img img-full mb-30">
                                    <a href="#"><img src="/layout/img/category/home1-category-4.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3>地暖</h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                    <div class="cat-6 col-md-8">
                                <div class="categories-img img-full mb-30">
                                    <a href="#"><img src="/layout/img/category/home1-category-5.jpg" alt=""></a>
                                    <div class="categories-content">
                                        <h3>光伏发电</h3>
                                        <h4>more+</h4>
                                    </div>
                                </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Categories Area End-->
		<!--Product Area Start-->
		<div class="product-area mt-85">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>The Most Trendy</span>
		                    <h3>热门产品</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product1.jpg" alt="">
		                            </a>
		                            <span class="onsale">Sale!</span>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Eleifend quam</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$115.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product2.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Odio tortor consequat</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product3.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Commodo dolor</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$80.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product4.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Fusce tempor</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$55.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product5.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Integer eget augue</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$100.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product6.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Egestas dapibus</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$55.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product7.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Auctor sem</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$100.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product8.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Sapien libero</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$82.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product9.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Pharetra sagittis</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$100.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product10.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Turpis et iaculis</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$65.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product11.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Sit amet felis</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product12.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Lacus dignissim</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$80.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Product Area End-->
		<!--Banner Area Start-->
		<div class="banner-area pt-105">
		    <div class="container-fluid pl-50 pr-50">
		        <div class="row">
		            <div class="col-md-4">
		                <!--Single Banner Area Start-->
		                <div class="single-banner mb-35">
		                    <div class="banner-img">
		                        <a href="#">
		                            <img src="/layout/img/banner/banner1.jpg" alt="">
		                        </a>
		                    </div>
		                </div>
		                <!--Single Banner Area End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Banner Area Start-->
		                <div class="single-banner mb-35">
		                    <div class="banner-img">
		                        <a href="#">
		                            <img src="/layout/img/banner/banner2.jpg" alt="">
		                        </a>
		                    </div>
		                </div>
		                <!--Single Banner Area End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Banner Area Start-->
		                <div class="single-banner mb-35">
		                    <div class="banner-img">
		                        <a href="#">
		                            <img src="/layout/img/banner/banner3.jpg" alt="">
		                        </a>
		                    </div>
		                </div>
		                <!--Single Banner Area End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Banner Area End-->
		<!--Testimonial Area Start-->
		<div class="testimonial-area mt-75">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>We love our clients</span>
		                    <h3>新闻热点</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row testimonial-active owl-carousel">
		            <div class="col-12">
		                <!--Single Testimonial Start-->
		                <div class="single-testimonial text-center">
                            <div class="testimonial-content">
                                <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                                <div class="testimonial-author">
                                    <h6>Katherine Sullivan <span>Customer</span></h6>
                                </div>
                            </div>
                        </div>
		                <!--Single Testimonial End-->
		            </div>
		            <div class="col-12">
		                <!--Single Testimonial Start-->
		                <div class="single-testimonial text-center">
                            <div class="testimonial-content">
                                <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                                <div class="testimonial-author">
                                    <h6>Md Shohel <span>Customer</span></h6>
                                </div>
                            </div>
                        </div>
		                <!--Single Testimonial End-->
		            </div>
		            <div class="col-12">
		                <!--Single Testimonial Start-->
		                <div class="single-testimonial text-center">
                            <div class="testimonial-content">
                                <p>These guys have been absolutely outstanding. Perfect Themes and the best of all that you have many options to choose! Best Support team ever! Very fast responding! Thank you very much! I highly recommend this theme and these people!</p>
                                <div class="testimonial-author">
                                    <h6>Katherine Sullivan <span>Customer</span></h6>
                                </div>
                            </div>
                        </div>
		                <!--Single Testimonial End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Testimonial Area End-->
		<!--Blog Area Start-->
		<div class="blog-area ml-50 mr-50 mt-105">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
		            <div class="col-12">
		                <div class="section-title text-center mb-35">
		                    <span>From The Blogs</span>
		                    <h3>热门案例</h3>
		                </div>
		            </div>
		            <!--Section Title End-->
		        </div>
		        <div class="row">
                    <div class="blog-slider-active">
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Blog image post</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Post with Gallery</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Post with Audio</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Post with Video</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Maecenas ultricies</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                        <div class="col-md-4">
                            <!--Single Blog Start-->
                            <div class="single-blog">
                                <div class="blog-img img-full">
                                    <a href="#">
                                        <img src="/layout/img/blog/blog1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="post-date">01/12/2018</div>
                                    <h3 class="post-title"><a href="#">Blog image post</a></h3>
                                    <p class="post-description">Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                                </div>
                            </div>
                            <!--Single Blog End-->
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<!--Blog Area End-->
		<!--News Letter Area Start-->
		<div class="news-letter-area mt-120 mb-120">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="news-latter-box">
		                    <p>高品质空气能安装，请输入手机号码，免费咨询 一分钟内容回复</p>
		                    <div class="news-letter-form text-center">
		                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="popup-subscribe-form validate" target="_blank" novalidate>
                                   <div id="mc_embed_signup_scroll">
                                      <div id="mc-form" class="mc-form subscribe-form" >
                                        <input id="mc-email" type="email" autocomplete="off" placeholder="请输入手机号码" />
                                        <button id="mc-submit">立即咨询 <i class="fa fa-chevron-right"></i></button>
                                      </div>
                                   </div>
                               </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--News Letter Area End-->
		<!--Footer Area Start-->
		<footer>
		    <div class="footer-container">
		        <!--Footer Middle Area Start-->
		        <div class="footer-middle-area black-bg">
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-3 col-md-6">
		                        <!--Single Footer Widget Start-->
		                        <div class="single-footer-widget mb-30">
		                            <div class="footer-logo">
		                                <a href="index.ejs"><img src="/layout/img/logo/logo-footer.png" alt=""></a>
		                            </div>
		                        </div>
		                        <!--Single Footer Widget End-->
		                    </div>
		                    <div class="col-lg-3 col-md-6">
		                        <!--Single Footer Widget Start-->
		                        <div class="single-footer-widget mb-30">
		                            <div class="footer-info">
		                                <div class="icon">
		                                    <i class="fa fa-home"></i>
		                                </div>
		                                <p>Address : No 40 Baria Sreet 15/2 NewYork City, NY, United States.</p>
		                            </div>
		                        </div>
		                        <!--Single Footer Widget End-->
		                    </div>
		                    <div class="col-lg-3 col-md-6">
		                        <!--Single Footer Widget Start-->
		                        <div class="single-footer-widget mb-30">
		                            <div class="footer-info">
		                                <div class="icon">
		                                    <i class="fa fa-envelope-open-o"></i>
		                                </div>
		                                <p>Email: <br>info@yourmail.com</p>
		                            </div>
		                        </div>
		                        <!--Single Footer Widget End-->
		                    </div>
		                    <div class="col-lg-3 col-md-6">
		                        <!--Single Footer Widget Start-->
		                        <div class="single-footer-widget mb-30">
		                            <div class="footer-info">
		                                <div class="icon">
		                                    <i class="fa fa-mobile"></i>
		                                </div>
		                                <p>Phone: <br>(+68) 123 456 7890</p>
		                            </div>
		                        </div>
		                        <!--Single Footer Widget End-->
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!--Footer Middle Area End-->
		        <!--Footer Bottom Area Start-->
		        <div class="footer-bottom-area black-bg pt-50 pb-50">
		            <div class="container">
		                <div class="row">
		                    <div class="col-md-12">
		                        <div class="footer-menu text-center">
		                            <nav>
		                                <ul>
		                                    <li><a href="#">产品</a></li>
		                                    <li><a href="#">案例</a></li>
		                                    <!--<li><a href="#"></a></li>-->
		                                    <li><a href="#">新闻</a></li>
		                                    <li><a href="#">关于</a></li>
		                                </ul>
		                            </nav>
		                        </div>
		                        <!--Footer Menu End-->
		                        <!--Footer Copyright Start-->
		                        <div class="footer-copyright">
		                            <p>Copyright &copy; 2018.河北聚义商贸有限公司 - 技术 <a href="https://github.com/LiangJingxuan" target="_blank">https://github.com/LiangJingxuan</a></p>
		                        </div>
		                        <!--Footer Copyright End-->
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!--Footer Bottom Area End-->
		    </div>
		</footer>
		<!--Footer Area End-->
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="single-product.ejs" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->
	</div>
    <!--All Js Here-->
	<!--Jquery 1.12.4-->
	<script src="/layout/js/jquery-1.12.4.min.js"></script>
	<!--Bootstrap-->
	<script src="/layout/js/bootstrap.min.js"></script>
	<!--Imagesloaded-->
	<script src="/layout/js/imagesloaded.pkgd.min.js"></script>
	<!--Isotope-->
	<script src="/layout/js/isotope.pkgd.min.js"></script>
	<!--Counterup-->
	<script src="/layout/js/jquery.counterup.min.js"></script>
	<!--Carousel-->
	<script src="/layout/js/owl.carousel.min.js"></script>
	<!--Slick-->
	<script src="/layout/js/slick.min.js"></script>
	<!--Meanmenu-->
	<script src="/layout/js/jquery.meanmenu.min.js"></script>
	<!--Easyzoom-->
	<script src="/layout/js/easyzoom.min.js"></script>
	<!--Nice Select-->
	<script src="/layout/js/jquery.nice-select.min.js"></script>
	<!--ScrollUp-->
	<script src="/layout/js/jquery.scrollUp.min.js"></script>
	<!--Venobox-->
	<script src="/layout/js/venobox.min.js"></script>
	<!--Jquery Ui-->
	<script src="/layout/js/jquery-ui.js"></script>
	<!--Main Js-->
	<script src="/layout/js/main.js"></script>
</body>
</html>

