<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title id="CopyrightId"></title>
<meta name="description" content="">
<meta name="robots" content="noindex, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, follow" />
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="/layout/css/bootstrap.min.css">
<!-- Linearicon CSS-->
<link rel="stylesheet" href="/layout/css/linearicons.min.css">
<!-- Font Awesome CSS-->
<link rel="stylesheet" href="/layout/css/font-awesome.min.css">

<!-- Owl Carousel CSS-->
<link rel="stylesheet" href="/layout/css/owl.carousel.min.css">
<!-- Slick CSS-->
<link rel="stylesheet" href="/layout/css/slick.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/layout/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/layout/css/responsive.css">

<!-- Meanmenu CSS-->
<link rel="stylesheet" href="/layout/css/meanmenu.min.css">
<!-- Easyzoom CSS-->
<link rel="stylesheet" href="/layout/css/easyzoom.css">
<!-- Venobox CSS-->
<link rel="stylesheet" href="/layout/css/venobox.css">
<!-- Jquery Ui CSS-->
<link rel="stylesheet" href="/layout/css/jquery-ui.css">
<!-- Nice Select CSS-->
<link rel="stylesheet" href="/layout/css/nice-select.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/layout/css/responsive.css">

<!-- Modernizr Js -->
<script src="/layout/js/modernizr-2.8.3.min.js"></script>