<!doctype html>
<html class="no-js" lang="en">
<head>
	<% include meta.ejs %>
</head>
<body>


	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="wrapper">
		<% include header.ejs %>
		<!--Breadcrumb One Start-->
		<div class="breadcrumb-one mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-img">
                            <img src="/layout/img/page-banner/product-banner.jpg" alt="">
                        </div>
                        <div class="breadcrumb-content">
                            <ul>
                                <li><a href="index.ejs">Home</a></li>
                                <li class="active">Single Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--Breadcrumb One End-->
		<!--Single Product Area Start-->
		<div class="single-product-area mb-115">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 col-lg-5">
		                <div class="product-details-img-tab">
		                    <!--Product Tab Content Start-->
		                    <div class="tab-content single-product-img">
                              <div class="tab-pane fade show active" id="product1">
                                  <div class="product-large-thumb img-full">
                                     <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product1.jpg">
                                            <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product1.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product2">
                                  <div class="product-large-thumb img-full">
                                     <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product2.jpg">
                                          <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product2.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product3">
                                  <div class="product-large-thumb img-full">
                                     <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product3.jpg">
                                          <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product3.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product4">
                                  <div class="product-large-thumb img-full">
                                     <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product4.jpg">
                                          <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product4.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product5">
                                  <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product5.jpg">
                                          <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product5.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product6">
                                  <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="img/single-product/large/single-product6.jpg">
                                          <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                                        </a>
                                        <a href="img/single-product/large/single-product6.jpg" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                     </div>
                                  </div>
                              </div>
                            </div>
		                    <!--Product Tab Content End-->
		                    <!--Product Tab Menu Start-->
		                    <div class="product-menu">
		                        <div class="nav product-tab-menu">
                                  <div class="product-details-img">
                                    <a class="active" data-toggle="tab" href="#product1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                    <a data-toggle="tab" href="#product6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                  </div>
                                </div>
		                    </div>
		                    <!--Product Tab Menu End-->
		                </div>
		            </div>
		            <div class="col-md-12 col-lg-7">
                        <!--Product Details Content Start-->
		                <div class="product-details-content">
                            <!--Product Nav Start-->
                            <div class="product-nav">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <!--Product Nav End-->
		                    <h2>Sit voluptatem</h2>
		                    <div class="single-product-reviews">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <a class="review-link" href="#">(1 customer review)</a>
                            </div>
                            <div class="single-product-price">
                                <span class="price new-price">$66.00</span>
                                <span class="regular-price">$77.00</span>
                            </div>
                            <div class="product-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                            </div>
                            <p class="stock in-stock">150 in stock</p>
                            <div class="single-product-quantity">
                                <form class="add-quantity" action="#">
                                     <div class="product-quantity">
                                         <input value="1" type="number">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="product-btn" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                            <div class="wishlist-compare-btn">
                                <a href="#" class="wishlist-btn">Add to Wishlist</a>
                                <a href="#" class="add-compare">Compare</a>
                            </div>
                            <div class="product-meta">
                                <span class="posted-in">
                                        Categories: 
		                                <a href="#">Accessories</a>,
		                                <a href="#">Electronics</a>
		                            </span>
                            </div>
                            <div class="single-product-sharing">
                                <h3>Share this product</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
		                </div>
		                <!--Product Details Content End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Single Product Area End-->
		<!--Product Description Review Area Start-->
		<div class="product-description-review-area mb-100">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="product-review-tab">
		                    <!--Review And Description Tab Menu Start-->
		                    <ul class="nav dec-and-review-menu">
                              <li>
                                <a class="active" data-toggle="tab" href="#description">Description</a>
                              </li>
                              <li>
                                <a data-toggle="tab" href="#reviews">Reviews (1)</a>
                              </li>
                            </ul>
		                    <!--Review And Description Tab Menu End-->
		                    <!--Review And Description Tab Content Start-->
		                    <div class="tab-content product-review-content-tab" id="myTabContent-4">
                              <div class="tab-pane fade active show" id="description">
                                  <div class="single-product-description">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                     <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</p>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="reviews">
                                  <div class="review-page-comment">
                                    <h2>1 review for Sit voluptatem</h2>
                                    <ul>
                                        <li>
                                            <div class="product-comment">
                                                <img src="/layout/img/icon/author.png" alt="">
                                                <div class="product-comment-content">
                                                    <div class="product-reviews">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <p class="meta">
                                                        <strong>admin</strong> - <span>November 22, 2016</span>
                                                    </p>
                                                    <div class="description">
                                                        <p>Good Product</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="review-form-wrapper">
                                        <div class="review-form">
                                            <span class="comment-reply-title">Add a review </span>
                                            <form action="#">
                                                <p class="comment-notes">
                                                    <span id="email-notes">Your email address will not be published.</span>
                                                     Required fields are marked
                                                     <span class="required">*</span>
                                                </p>
                                                <div class="comment-form-rating">
                                                    <label>Your rating</label>
                                                    <div class="rating">
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="input-element">
                                                    <div class="comment-form-comment">
                                                        <label>Comment</label>
                                                        <textarea name="message" cols="40" rows="8"></textarea>
                                                    </div>
                                                    <div class="review-comment-form-author">
                                                        <label>Name </label>
                                                        <input required="required" type="text">
                                                    </div>
                                                    <div class="review-comment-form-email">
                                                        <label>Email </label>
                                                        <input required="required" type="text">
                                                    </div>
                                                    <div class="comment-submit">
                                                        <button type="submit" class="form-button">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
		                    <!--Review And Description Tab Content End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Product Description Review Area Start-->
		<!--Also Like Product Start-->
		<div class="also-like-product">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
                    <div class="col-12">
                        <div class="section-title text-center mb-35">
                            <h3>You may also like…</h3>
                        </div>
                    </div>
                    <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product1.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Eleifend quam</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$115.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product3.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Nulla sed stg</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$40.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product5.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Odio tortor consequat</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product7.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Vulputate justo</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$70.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product9.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Ipsum imperdie</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$100.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product11.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Pellentesque position</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Also Like Product End-->
		<!--Related Product Start-->
		<div class="Related-product mt-105 mb-100">
		    <div class="container">
		        <div class="row">
		            <!--Section Title Start-->
                    <div class="col-12">
                        <div class="section-title text-center mb-35">
                            <h3>Related products</h3>
                        </div>
                    </div>
                    <!--Section Title End-->
		        </div>
		        <div class="row">
		            <div class="product-slider-active">
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product7.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Vulputate justo</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$70.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product9.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Ipsum imperdie</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$100.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product11.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Pellentesque position</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product1.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Eleifend quam</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$115.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product3.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Nulla sed stg</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$40.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
		                    <!--Single Product Start-->
		                    <div class="single-product mb-25">
		                        <div class="product-img img-full">
		                            <a href="single-product.ejs">
		                                <img src="/layout/img/product/product5.jpg" alt="">
		                            </a>
		                            <div class="product-action">
		                                <ul>
		                                    <li><a href="#open-modal" data-toggle="modal" title="Quick view"><i class="fa fa-search"></i></a></li>
		                                    <li><a href="#" title="Whishlist"><i class="fa fa-heart-o"></i></a></li>
		                                    <li><a href="#" title="Compare"><i class="fa fa-refresh"></i></a></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div class="product-content">
		                            <h2><a href="single-product.ejs">Odio tortor consequat</a></h2>
		                            <div class="product-price">
		                                <div class="price-box">
		                                    <span class="regular-price">$90.00</span>
		                                </div>
		                                <div class="add-to-cart">
		                                    <a href="#">Add To Cart</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!--Single Product End-->
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!--Related Product End-->
		<% include footer.ejs %>
		<!-- Modal Area Strat -->
        <div class="modal fade" id="open-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <!--Modal Img-->
                    <div class="col-md-5">
                        <!--Modal Tab Content Start-->
                        <div class="tab-content product-details-large" id="myTabContent">
                          <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product1.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product2.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product3.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product4.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product5.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                          <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                              <!--Single Product Image Start-->
                              <div class="single-product-img img-full">
                                <img src="/layout/img/single-product/large/single-product6.jpg" alt="">
                              </div>
                              <!--Single Product Image End-->
                          </div>
                        </div>
                        <!--Modal Content End-->
                        <!--Modal Tab Menu Start-->
                        <div class="single-product-menu">
                            <div class="nav single-slide-menu owl-carousel" role="tablist">
                                <div class="single-tab-menu img-full">
                                    <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="/layout/img/single-product/small/single-product1.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="/layout/img/single-product/small/single-product2.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="/layout/img/single-product/small/single-product3.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="/layout/img/single-product/small/single-product4.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="/layout/img/single-product/small/single-product5.jpg" alt=""></a>
                                </div>
                                <div class="single-tab-menu img-full">
                                    <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="/layout/img/single-product/small/single-product6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--Modal Tab Menu End-->
                    </div>
                    <!--Modal Img-->
                    <!--Modal Content-->
                    <div class="col-md-7">
                        <div class="modal-product-info">
                            <h1>Sit voluptatem</h1>
                            <div class="modal-product-price">
                               <span class="old-price">$74.00</span>
                               <span class="new-price">$69.00</span>
                           </div>
                           <a href="single-product.ejs" class="see-all">See all features</a>
                           <div class="add-to-cart quantity">
                                <form class="add-quantity" action="#">
                                     <div class="modal-quantity">
                                         <input type="number" value="1">
                                     </div>
                                    <div class="add-to-link">
                                        <button class="form-button" data-text="add to cart">add to cart</button>
                                    </div>
                                </form>
                           </div>
                           <div class="cart-description">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus.</p>
                           </div>
                            <div class="social-share">
                               <h3>Share this product</h3>
                               <ul class="socil-icon2">
                                   <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                   <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                   <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                   <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                    <!--Modal Content-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Area End -->
	</div>
    <% include script.ejs %>
</body>
</html>

