<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">商品管理</h3>
                    <p class="panel-subtitle">news management</p>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <form class="form-inline" style="background: #f5f5f5;padding: 20px;">
                            <div class="form-group" style="width: 20%;">
                                <label>分类：</label>
                                <span id="genreBox">
                                    <select class="form-control select2" ng-model="genre">
                                        <option value="">全部商品</option>
                                        <option value="4">地暖</option>
                                        <option value="5">光伏发电</option>
                                        <option value="6">空气能</option>
                                        <option value="7">太阳能</option>
                                        <option value="8">风机盘管</option>
                                    </select>
                                </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                <label>关键词：</label>
                                <input type="text" class="form-control" placeholder="请输入商品名称关键词" ng-model="kw">
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-success btn-sm" ng-click="filterCond(genre,kw)">搜索</button>
                            <button type="reset" class="btn btn-info btn-sm" ng-click="resetFilter()">重置</button>
                            &nbsp;&nbsp;&nbsp;
                            <a ui-sref="goods-add" class="btn btn-primary btn-sm">添加商品</a>
                        </form>

                        <div class="tab-pane fade active in">
                            <div class="table-responsive">
                                <table class="table project-table">
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>分类</th>
                                        <th>发布时间</th>
                                        <th>热卖</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="d in goodsList.dataList">
                                        <td>
                                            <span ng-bind="d.goods_name" class="news-title"></span>
                                        </td>
                                        <td ng-bind="d.sname"></td>
                                        <td ng-bind="d.time"></td>
                                        <td>
                                            <span ng-class="d.nice?'label-success':'label-default';" class="label">
                                                <span ng-if="d.nice">是</span>
                                                <span ng-if="!d.nice">否</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-class="d.state?'label-success':'label-default';" class="label">
                                                <span ng-if="d.state">已上架</span>
                                                <span ng-if="!d.state">未上架</span>
                                            </span>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-danger" data-toggle="modal" data-target=".confirms" ng-click="goodsDel(d.id)">删除</button>
                                            <a ui-sref="news-edit({id:d.id})" class="btn btn-xs btn-primary">修改</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- 分页 -->
            <nav aria-label="" class="text-right">
                <paging
                        class="small"
                        page="goodsList.page"
                        page-size="pagesize"
                        total="goodsList.totalRows"
                        scroll-top="{{scrollTop}}"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="PagingAct(page, pageSize)">
                </paging>
            </nav>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- Confirm -->
<div class="modal fade confirms" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                确认删除该新闻？
            </div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-danger" ng-click="del()">确认删除</button>
                <button class="btn btn-xs btn-primary" data-dismiss="modal">放弃</button>
            </div>
        </div>
    </div>
</div>
<!-- Alert -->
<div class="modal fade alerts" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-primary" data-dismiss="modal" ng-click="Tip()">确认</button>
            </div>
        </div>
    </div>
</div>
<style>
    .select2-container{width: 70% !important;}
</style>
<script>
    //页面加载完成后初始化select2控件
    $(function () {
        $(".select2").select2();
    });
</script>