<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">添加商品</h3>
                    <p class="panel-subtitle">news management</p>
                </div>
                <form onkeydown="if(event.keyCode==13)return false;" id="goodsAddId" action="/admin/goods/goodsadd" method="post">
                    <div class="panel-body has-error">
                        <select name="sid" class="form-control select2" required>
                            <option value="">商品分类</option>
                            <option value="4">地暖</option>
                            <option value="5">光伏发电</option>
                            <option value="6">空气能</option>
                            <option value="7">太阳能</option>
                            <option value="8">风机盘管</option>
                        </select>
                        <br>
                        <br>
                        <input name="title" type="text" class="form-control" placeholder="商品标题" autocomplete="off" required>
                        <br>
                        <input name="title" type="text" class="form-control" placeholder="商品卖点" autocomplete="off" required>
                        <br>
                        <style>
                            .cke_maximized{top: 80px !important;}
                            .select2-container .select2-selection--single{border: 1px solid #a94442;}
                        </style>
                        <p style="margin-bottom: 5px;">商品概述：</p>
                        <textarea name="content" id="content" class="ckeditor form-control"></textarea>
                        <!-- 商品图片上传 -->
                        <!--<input type="file" name="pic">-->
                        <br>
                        <label class="fancy-checkbox"><input type="checkbox"><span>热门商品</span></label>
                        <label class="fancy-checkbox"><input type="checkbox"><span>上架商品</span></label>
                        <br>
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-danger" ng-click="goodsAdd()" ng-disabled="ADDGOODSIF">确认添加</button>
                            <button type="reset" class="btn btn-primary" ng-click="restGoodsAdd()">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END OVERVIEW -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- Alert -->
<div class="modal fade alerts" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-primary" data-dismiss="modal" ng-click="Tip()">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    //页面加载完成后初始化select2控件
    $(function () {
        $(".select2").select2();
    });
</script>