<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline" style="margin-bottom: 15px">
                <div class="panel-heading">
                    <h3 class="panel-title">客户信息</h3>
                    <p class="panel-subtitle">news management</p>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <form class="form-inline" style="background: #f5f5f5;padding: 20px;">
                            <div class="form-group">
                                <label>状态：</label>
                                <span id="genreBox">
                                    <select class="form-control select2" ng-model="genre">
                                        <option value="">全部状态</option>
                                        <option value="1">已回复&nbsp;&nbsp;&nbsp;</option>
                                        <option value="0">未回复&nbsp;&nbsp;&nbsp;</option>
                                    </select>
                                </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <div class="form-group">
                                <label>电话：</label>
                                <input type="text" class="form-control" placeholder="请输入电话号码" ng-model="kw">
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-success btn-sm" ng-click="filterCond(genre,kw)">搜索</button>
                            <button type="reset" class="btn btn-info btn-sm" ng-click="resetFilter()">重置</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="slimScrollDiv"><div class="panel-body">
                    <style>
                        .list-unstyled li i{font-size: 25px;}
                        .list-unstyled li button{float: right;margin-right: 5px;}
                        .list-unstyled li p a{margin-right: 20px;}
                        .list-unstyled li p>span{margin-right: 10px;}
                        .list-unstyled li p .timestamp span{margin-right: 10px;vertical-align: middle;}
                        .list-unstyled li p .txt{background: #efefef}
                        .list-unstyled li button{display: none;}
                        .list-unstyled li:hover button{display: inline-block;}
                    </style>
                    <ul class="list-unstyled activity-list">
                        <li ng-repeat="d in customerList.dataList">
                            <i class="lnr lnr-user"></i>
                            <p>
                                <a ng-bind="d.name" ng-if="d.name"></a>
                                <span ng-if="d.phone"><span class="lnr lnr-phone-handset"></span> <span ng-bind="d.phone"></span></span>
                                <span ng-if="d.email"><span class="lnr lnr-link"></span> <span ng-bind="d.email"></span></span>
                                <span ng-if="d.content"><span class="lnr lnr-bubble"></span> <span class="txt" ng-bind="d.content"></span></span>
                                <span class="timestamp">
                                    <span ng-bind="d.time"></span>
                                    <small class="badge bg-success" ng-if="d.reply">已回复</small>
                                    <small class="badge bg-danger" ng-if="!d.reply">未回复</small>
                                </span>
                            </p>
                            <button class="btn btn-xs btn-primary" ng-click="upReply(d.id,d.reply)">修改回复状态</button>
                        </li>
                    </ul>
                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 56px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 337.409px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </div>
            <!-- END OVERVIEW -->
            <!-- 分页 -->
            <nav aria-label="" class="text-right">
                <paging
                        class="small"
                        page="customerList.page"
                        page-size="pagesize"
                        total="customerList.totalRows"
                        scroll-top="{{scrollTop}}"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="PagingAct(page, pageSize)">
                </paging>
            </nav>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<style>
    .select2-container{width: auto !important;}
</style>
<script>
    //页面加载完成后初始化select2控件
    $(function () {
        $(".select2").select2();
    });
</script>